<nav>
    <ul>
        <li><NavLink href="/">Home</NavLink></li>
        <li><NavLink href="/register">Register</NavLink></li>
        <li><NavLink href="/attendance">Attendance Tracker</NavLink></li>
    </ul>
</nav>
